#registry=http://ilceusc038:8081/nexus/content/groups/3000-npm-group
		 
registry=https://registry.npmjs.org

#package-lock=false

#LOCAL
*proxy=http://genproxy.amdocs.com:8080/
*http_proxy=http://genproxy.amdocs.com:8080/
*https_proxy=http://genproxy.amdocs.com:8080/ 


email=XXXX@amdocs.com
always-auth=false
package-lock=false
optional=false
prefer-offline=false
progress=true
loglevel=warn
unicode=true
strict-ssl=false
proxy=null
http-proxy=null
https-proxy=null
//registry= https://registry.npmjs.org